<h1 mat-dialog-title>Add product form</h1>

<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input formControlName="productName" matInput placeholder="Placeholder">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint> -->

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Product Category</mat-label>
        <mat-select formControlName="category" placeholder="category">
           <mat-option value="Fruits">Fruits</mat-option>
           <mat-option value="Vegetable">Vegetable</mat-option>
           <mat-option value="Electronic">Electronic</mat-option>
           <mat-option value="Sweets">Sweets</mat-option>
           <mat-option value="Cloths">Cloths</mat-option>
           
        </mat-select>
      </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <label for=""><h1>Product Freshness</h1></label>
          <mat-radio-group formControlName="freshness"  class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let fresh of freshnessList" [value]="fresh">
              {{fresh}}
            </mat-radio-button>
          </mat-radio-group>

          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input formControlName="price" type="number" matInput placeholder="Placeholder">
           
    
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Comment</mat-label>
           <textarea formControlName="Comment" matInput></textarea>
            
          </mat-form-field>
  </form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warm" mat-dialog-close="Close">Close</button>
  <button style="margin-left: 18px;" mat-raised-button color="primary" (click)="addProduct()" >{{actionBtn}}</button>
</div>