.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 90%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
  }

  .container{
    max-width: 1200px;
    margin:0 auto;
  }
  
  